package club;
import (
    "guilherme096/score-savant/templates/Layout"
);

templ ClubPage(){
    @Layout.Base(){
        <div>
            <h1>Club</h1>
            <p>Club page</p>
        </div>
    }
}
