package Player;

templ PlayerPosition(PlayerPosition string, RoleRatings []map[string]interface{}) {
    <div class="w-full h-fit rounded-3xl shadow-xl p-4 bg-base-200">
        <p>Player Position: {PlayerPosition}</p>
    </div>
}
