package Player;

templ Attribute(name string, value string){
    <div class="flex flex-row justify-between bg-primary rounded-md p-2 my-1">
        <div>{name}</div>
        <div>{value}</div>
    </div>
}
