package PlayerInsertion;

import "guilherme096/score-savant/templates/Layout"

templ PlayerInsertion(){
        @Layout.Base(){
        <div class="w-full max-h-full p-16 pt-3">
                <form class="form-control mt-3 flex flex-row">
                    @PlayerInfoForms()
                    @PlayerAttributeForms()
                </form>
        </div>
        }
    }
