package PlayerInsertion;

import "guilherme096/score-savant/templates/Layout"

templ PlayerInsertion(){
        @Layout.Base(){
        <div class="w-full max-h-full m-16">
                <form class="form-control mt-3">
                    @PlayerInfoForms()
                </form>
        </div>
        }
    }
