package Search;
import (
    Utils "guilherme096/score-savant/utils"
)

templ NationSearchTable(nations []map[string]interface{}) {
        for _, nations := range nations {
            <tr>
               <td><a class="font-bold text-md hover:underline" href={templ.URL(nations["page_link"].(string))}>{nations["name"].(string)}</a></td>
               <td class="py-2 px-6 border-b hover:underline">{Utils.FormatNumber(nations["value_total"].(float64))}</td> 
            </tr>
        }
}
